div{
	width: 200px;
	height: 200px;
	display: inline-block;
	font-size: 5em;
	text-align: center;
	color: white;
	font-family: sans-serif;
	margin: 10px;
}
div>*{
	margin: 25% auto;
}
#div0{
	background: red;
}
#div1{
	background: green;
}
#div2{
	background: blue;
}
#div3{
	width: 648px;
	display: block;
	background: black;
}